*
{
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  font-family: Roboto;
}

html, body
{
  background: #000;
  height: 100%;
}

body
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#video
{
  height: 100%;
}

#overlay
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 100;
	background-image: url(../img/loader.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
